// colors

$green: rgb(105, 246,2);
$light-yellow: #F2CD48;
$light-orange: #FD803F;
$darker-blue: #1f2a4b;
$lighter-blue: #6dc3ea;
$vibrant-red: rgb(255,70,25);
$light-grey: #e1e1e1;
$dark-sky-blue: #4a77e5;
$text-grey: #a1a4ad